@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

html, body {
    font-family: 'Poppins', sans-serif;
    color: #222529;
}
.title-1 {
    font-size: 65px;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 32px;
}
.title-2 {
    font-size: 35px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 16px;
}
.title-3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 16px;
}
