@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

html, body {
    font-family: 'Poppins', sans-serif;
    color: #222529;
}
.title-1 {
    font-size: 65px;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 32px;
}
.title-2 {
    font-size: 35px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 16px;
}
.title-3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 16px;
}


.header .container {
    display: grid;
    grid-template-areas: "logotype menuicons"
                         "menulinks menulinks";
}

.logotype {
    grid-area: logotype;
    border: 1px solid black;
}
.menu-links {
    grid-area: menulinks;
    border: 1px solid black;
}
.menu-icons {
    grid-area: menuicons;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid black;
}




@media (min-width: 992px) {
    .header .container {
        grid-template-areas: "logotype menulinks menuicons";
    }
    
    #toggle-menu-button {
        display: none;
    }
    
    .menu-links {
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
}