/* contact form */
.contact-form {
    margin-top: 70px;

    h1 {
        text-align: center;
        font-size: 18px;
        font-weight: 700;
    }

    form {
        margin-top: 40px;
        margin-bottom: 100px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "name"
                             "email"
                             "comments"
                             "button";
        gap: 20px;

        @include md {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "name email"
                                 "comments comments"
                                 "button empty";
        }

        .error {
            font-size: 0.9em;
            padding: 5px;
            color: $color-theme
        }

        input,
        textarea {
            width: 100%;
            padding: 18px 20px;
            border: 1px solid $color-shadow-2;
        }

        textarea {
            height: 140px;
            resize: none;
        }

        button {
            grid-area: button;

            @include lg {
                width: 70%;
            }
        }

        .contact-form-name {
            grid-area: name;
        }

        .contact-form-email {
            grid-area: email;
        }

        .contact-form-comments {
            grid-area: comments;
        }
    }
}
