#div-1 {
    font-weight: bold;
    color: blue;   
}

.bg-green {
    background-color: rgb(211, 237, 157);
    color:orange;
}

div {
    color: red;
    background-color: rgb(234, 234, 234);
}

.bg-orange {
    background-color: rgb(255, 208, 120);

}





